h1 {
   font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    margin-left: 20px;
 }
 form {
    padding: 0px 0px 10px 20px;   
 }
 
 fieldset {
    width: 300px;
    padding: 15px;
 }
 
 label {
    display: block;
    margin: 0px 0px 10px 0px;
    font-family: 'Poppins', sans-serif;
    
 }
 
 select {
    display: block;
    margin: 15px 0px;
    font-size: 1em;
 }
 
 select option {
   font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
 }
 
 input {
    display: block;
    margin: 0px 0px 10px 0px;
 }
 
 
 input[type="submit"] {
    font-size: 1.2em;
    display: inline-block;
    margin: 10px auto
 }
 
form{
text-align: center;

}